/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
} */

a {
    text-decoration: none;
    color: inherit;
}


p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    background: url(../images/green.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'League Spartan', sans-serif;
    overflow: hidden;
}

.rain{
    position: absolute;
    z-index: -1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.watch__content {
    display: flex;
}


.watch__text {
    align-self: center;
}

/* .watch__text p {
    color: #161515;
    font-size: 32px;
    font-weight: 300;
} */

.watch__num {
    color: #989898;
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 80px;
    text-shadow: 5px 4px 2px rgba(12, 12, 12, 0.5)
}

.watch__dscr {
    color: #989898;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    max-width: 570px;
    padding-bottom: 81px;
    position: relative;
    text-shadow: 5px 4px 2px rgba(12, 12, 12, 0.5)
}


.title {
    color: #272727;
    font-size: 250px;
    font-weight: 300;
    line-height: normal;
    text-shadow: 4px 2px 20px rgba(206, 198, 198, 0.5);
}

.watch__buy {
    position: absolute;
    display: flex;
    gap: 32px;
    align-items: center;
}

.watch__buy span {
    color: #989898;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 60px;
    text-shadow: 4px 2px 20px rgba(12, 12, 12, 0.5);
}


.watch__btn {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    background-color: #161515;
    padding: 35px 75px;
    border-radius: 15px;
    box-shadow: 10px 10px 8px rgba(12, 12, 12, 0.5);
}


.watch__img {
    margin-left: 60px;

}



.models__item {
    text-align: center;
    margin-top: 450px;
}


.models__text {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}

.models__title {
    color: #000;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    margin-bottom: 194px;
}

.models__img {
    margin-bottom: 177px;
}


.models__son {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
}

.models__descr {
    color: #161515;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 50px;
    max-width: 45%;
    margin-bottom: 100px;
}